<div class="header ">
  <p  style=" font-size:30px; margin-top: .6%; color:blue;">JobSquare </p>
  <!-- <a routerLink="/">JobSquare </a> -->
  
  <div class="header-right">


        
                <!-- <input class="form-control mr-sm-2 no-border" type="search" placeholder="Search" aria-label="Search">
                <button class="btn  btn-just-icon btn-round btn-light" type="submit"><i class="material-icons">search</i></button> -->
                <input  type="checkbox" (click)="logout()"  value="Boat" checked>checked
                  
              
  </div>
</div>
